<ion-header class="ion-no-border header" mode="ios">
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-item button lines="none" detail="false">
    <ion-avatar slot="start" class="medium">
      <img src="https://www.shareicon.net/data/512x512/2016/07/26/802043_man_512x512.png" />
    </ion-avatar>
    <ion-label>
      Science
      <p>Presentation</p>
    </ion-label>
    <ion-label slot="end">
      <p class="ion-text-right">May 2</p>
      <p>&nbsp;</p>
    </ion-label>
  </ion-item>
  <ion-item button lines="none" detail="false">
    <ion-avatar slot="start" class="medium">
      <img src="https://www.shareicon.net/data/512x512/2016/07/26/802043_man_512x512.png" />
    </ion-avatar>
    <ion-label>
      Science
      <p>Test</p>
    </ion-label>
    <ion-label slot="end">
      <p class="ion-text-right">March 29</p>
      <p>&nbsp;</p>
    </ion-label>
  </ion-item>
</ion-content>