<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evaluate</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <div class="container">
    <div class="form-header">
      <p>[COURSE CODE] Course</p>
      <p>Faculty - Lec/lab</p>
    </div>

    <ion-list>
      <h4>Instructions:</h4>
      <ion-list-header>
        <ion-label>
          Please consider the following be considered when evaluating the
          teacher:
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>
          1. Read all the items in each of the category the instructor will be
          evaluated.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          2. Read the description of each of the rating code.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          3. Rate the faculty according to the rubric of the rating scale. The
          Rating Scale for this classroom evaluation instrument is as follows:
          <p>4 - Excellent</p>
          <p>3 - Very Good</p>
          <p>2 - Good</p>
          <p>1 - Fair</p></ion-label
        >
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label> Descriptions of Performance Standards: </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>
          1. Course Organization - Refers to consistent navigation scheme and
          increased findability of content materials, assignments and
          assessment.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          2. Course Design - Exemplifies the instructor has addressed multiple
          learning styles and student learning outcomes.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          3. Communication & Interaction - This pertains to regular and
          effective communication as well as visible student participation
          throughout the course.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          4. Course Content - Engages students in active learning and encourages
          opportunities to master the depth of knowledge required.
        </ion-label>
      </ion-item>
    </ion-list>
    <h4 class="p-4">Course Organization</h4>
    <ion-list>
      <ion-radio-group mode="md">
        <ion-list-header>
          <ion-label> Provides navigational instructions which make the orgatnization of the course easy to follow. </ion-label>
        </ion-list-header>
      </ion-radio-group>
      <ion-radio-group mode="md">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>4</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>3</ion-label>
              <ion-radio value="duesenberg"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>2</ion-label>
              <ion-radio value="hudson"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>1</ion-label>
              <ion-radio value="packard"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-radio-group mode="md">
        <ion-list-header>
          <ion-label> Provides navigational instructions which make the orgatnization of the course easy to follow. </ion-label>
        </ion-list-header>
      </ion-radio-group>
      <ion-radio-group mode="md">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>4</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>3</ion-label>
              <ion-radio value="duesenberg"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>2</ion-label>
              <ion-radio value="hudson"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>1</ion-label>
              <ion-radio value="packard"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
