<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>Class Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <ion-datetime size="cover"></ion-datetime>

  <h4 class="p-4">Classes for Today</h4>

  <ion-item lines="none">
    <ion-label class="time">
      2:30 PM
      <p>Physical Education</p>
    </ion-label>
  </ion-item>

</div>
</ion-content>
