<ion-header class="ion-no-border header" mode="ios">
  <ion-toolbar>
    <ion-title>Calendar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settings()">
        <ion-icon slot="icon-only" name="settings-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <div class="contents">
    <ion-card>
      <ion-card-header> May 2022</ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="2" class="text-center">
            <ion-text class="header">1</ion-text>
          </ion-col>
          <ion-col size="10">
            <ion-text class="header"> Labor Day </ion-text>
          </ion-col>
          <ion-col size="2">
            <div class="text-center">
              <ion-text class="sub"> Sun </ion-text>
            </div>
          </ion-col>
          <ion-col size="10">
            <ion-text class="sub"> Whole Day </ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
