<ion-tabs (ionTabsDidChange)="setSelectedTab()" >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selected === 'home' ? 'home' : 'home-outline'"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
  
    <ion-tab-button tab="calendar">
      <ion-icon [name]="selected === 'calendar' ? 'calendar' : 'calendar-outline'"></ion-icon>
      <!-- <ion-label>Calendar</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="rooms">
      <ion-icon [name]="selected === 'rooms' ? 'library' : 'library-outline'"></ion-icon>
      <!-- <ion-label>Rooms</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon [name]="selected === 'notifications' ? 'notifications' : 'notifications-outline'"></ion-icon>
      <!-- <ion-label>Notifications</ion-label> -->
      <ion-badge>2</ion-badge>
    </ion-tab-button>
  
    <ion-tab-button tab="account">
      <ion-icon [name]="selected === 'account' ? 'person' : 'person-outline'"></ion-icon>
      <!-- <ion-label>Account</ion-label> -->
      
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
