ion-header {
  border: none;
  ion-toolbar {
    border: none;
    --border-color: none;
    --border-style: none;
    --padding-bottom: none;
  }
}
ion-content {
  --background: linear-gradient(to left, #d2334c, #e65b7a);
  .sample {
    margin-top: 20px;
    background-color: #f5f6fa;
    height: 10px;
    // border-radius: 20px 20px 0px 0px;
    height: 100%;
    padding-top: 10px;

  }
}
ion-item {
  border-radius: 10px;
  margin-top: 10px;
  ion-icon {
    padding-right: 10px;
  }
}

.container {
  margin: 10px;
  position: relative;
}
.content-header {
    margin: 20px ;
  text-align: center;
  color: #fff;
  p {
    margin: 0;
  }
  .amount {
    font-size: 25px;
    font-weight: bold;
  }
  .label {
    font-size: 12px;
    font-weight: 300;
  }
}
.dues {
    margin-top: 40px;
  h4 {
    margin: 5px 0px;
  }
  display: flex;
  justify-content: space-between;
  ion-button{
      text-transform: uppercase;
      --background: none;
      --color: var(--ion-color-primary);
      --box-shadow: none;
  }
}

.buttons{
    // background-color:  #fff;
   
    border-radius: 10px;
    
    ion-row{
        ion-col{
            padding: 0px 5px 0px ;
            ion-item{
                box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
                --border-style: none;
                ion-label{
                    font-size: 14px;
                    color: var(--ion-color-secondary);
                    
                }
                ion-icon{
                    color: var(--ion-color-secondary);
                    
                }
            }
        }
    }
}

ion-list{
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
    margin: 0px 5px;
    border-radius: 10px;
    ion-item{
      color: var(--ion-color-secondary);
      
    }
  }