<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>Clearance</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-header class="ion-no-border" mode="ios">
    <ion-list>
      <ion-item lines="none">
        <ion-label>Select School Year:</ion-label>
        <ion-select class="custom-options">
          <ion-select-option value="2018-2019">2018-2019</ion-select-option>
          <ion-select-option value="2019-2020">2019-2020</ion-select-option>
          <ion-select-option value="2020-2021">2020-2021</ion-select-option>
          <ion-select-option value="2021-2022">2021-2022</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Select Semester:</ion-label>
        <ion-select class="custom-options">
          <ion-select-option value="First Semester">First Semester</ion-select-option>
          <ion-select-option value="Second Semester">Second Semester</ion-select-option>
          <ion-select-option value="Summer">Summer</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        Registrar
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        Personal Profile
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        2x2 ID Picture
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Original PSA Birth Certificate
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Original Transcript of Records (for Transferees)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Original Honorable Dismissal (for Transferees)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Original Granted Transcript of Records (Old)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Original PSA Marriage Certificate (for Married)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Copy of Passport (for Foreign Students)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Apostille/Red Ribbon Credentials (from Abroad)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Practicum/Internship Certificates (for Graduating)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Report Card
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        Libraries
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        Guidance
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        Online Faculty Evaluation
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Psychological Test (2nd Year to 4th Year)
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        Cashier
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        Full Payment
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Liquidation Report
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Laboratory Breakages
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        Other Payables
        <ion-label slot="end">
          <p class="ion-text-right">Cleared</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
